.career {
    position: relative;
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.5);
}

.career__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/careers/pattern-career.webp") 44.38% 100% / cover no-repeat fixed, rgb(0, 0, 0);
    z-index: -1;
}


.career__content_advert {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.career__content {
    padding: 35px 30px;
    width: 55%;
    background: var(--ui-light-shade-color);
}

.career__intro {
    font: 14px 'Montserrat', sans-serif;
    color: var(--ui-dark-accent-color);
}

.career__title {
    font-weight: 700;
    font: 34px 'Montserrat', sans-serif;
    color: var(--ui-dark-shade-color);
    margin: 15px 0;
}

.career__info {
    font: 16px 'Montserrat', sans-serif;
    color: var(--ui-dark-accent-color);
    margin-bottom: 20px;
}

.career__button {
    padding: 10px 20px;
    background-color: var(--brend-color);
    color: var(--ui-light-shade-color);
    font: 14px 'Montserrat', sans-serif;
    text-decoration: none;
    border-radius: 28px;
    transition: background-color 0.5s ease;
    display: inline-block;
}

.career__button:hover {
    background-color: var(--brend-color-gradient);
}

@media (min-width: 768px) {
    .career__content {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .career__content {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 40%;
    }
}