.career {
    position: relative;
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.5);
}

.career__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/careers/pattern-career.webp") 44.38% 100% / cover no-repeat fixed, rgb(0, 0, 0);
    z-index: -1;
}

.career__content_advert {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.career__content {
    padding: 40px 30px;
    width: 100%;
    background: var(--ui-light-shade-color);
}

.career__intro {
    font-size: 14px;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color: var(--ui-dark-accent-color);
}

.career__title {
    font-weight: bold;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: var(--ui-dark-shade-color);
    margin: 15px 0 0;
    width: 100%;
    display: inline-block;
}

.career__info {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--ui-dark-accent-color);
    line-height: 1.5;
}

.career__button {
    margin: 40px 0 0;
    padding: 16px 24px;
    background-color: var(--brend-color);
    color: var(--ui-light-shade-color);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border-radius: 28px;
    border-width: 1px;
    transition: background-color 0.5s ease;
    display: inline-block;
}

.career__button:hover {
    background-color: var(--brend-color-gradient);
}

@media (min-width: 768px) {
    .career__info {
        margin-top: 40px;
    }

    .career__content {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 40%;
    }
}

@media (min-width: 992px) {
    .career__content {
        padding-top: 50px;
        padding-bottom: 52px;
        width: 48%;
    }
}