.events {
    background-color: var(--ui-btn-secondary-bg-color);
}
    
.events__title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

.events__list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
    /* justify-content: space-evenly; */
   /* padding: 20px 10px 20px 10px;   */
    /* object-fit: cover; */
    
}
      
.event__date,
.event__time,
.event__name,
.event__place {
    width: 50%;
    background-color: var(--brend-color);
    color: var(--ui-light-shade-color); 
     
}
/* .event__date,
.event__time,
.event__name,
.event__place {
    text-align:left;
   
} */

/* .event__date,
.event__name {
    font-weight: bold;
}

.event__card {
    min-height: 210;
    object-fit: cover;
    object-position: 50% 0%; */
}

/* .events__button-link {
    
    justify-content: center;
    border-radius: 28px;
    background-color: var(--second-hover-color);
    border: 1px;
    min-width: 100px;
    padding: 5px 15px;
    cursor: pointer;
    color: var(--ui-dark-accent-color);
    text-decoration: none;
}
.events__button-link:hover {
    background-color: var(--brend-color-gradient); */
}

@media (min-width: 768px) {
    .events__list {
        grid-template-rows: 1fr;    
    }
}

@media (min-width: 992px) {
    .events__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
} 
 