.featured-postcads__cards{
    background-color: var(--ui-light-shade-color);
}
.featured-podcasts__button{
    width: 130px;
    font: 12px 'Montserrat', sans-serif;
    padding: 12px 24px;
    color: gray;
    text-decoration: none;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid gray;
    margin-top: 20px;
    margin-left:540px ;
    display: flex;
    justify-content: center; 
}
.featured-podcasts__button:hover {
    background-color: var(--brend-color-gradient);
    color: #ffffff;
    
}