.cards-title {
  text-align: center;
}
.cards-items {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--ui-light-shade-color);
  margin-top: 40px;
  gap: 24px;
}
.cards-item {
  padding: 65px 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--cards-background-color);
}
.cards-item__title {
  margin-bottom: 30px;
}
.cards-item__img {
  object-fit: cover;
  object-position: top;
  margin: 30px auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

@media (min-width: 768px) {
  .cards-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
