.cards-title {
  text-align: center;
  margin-top:50px;
}
.cards-items {
  color: var(--ui-light-shade-color);
  margin-top: 40px;
  gap: 24px;
  flex-wrap:wrap;
  display:flex;
  justify-content: center;
}
.cards-item {
  width:30%;
  min-width:300px;
  padding: 65px 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--cards-background-color);
}
.cards-item__title {
  margin-bottom: 30px;
}
.cards-item__img {
  transition:all .3s;
  object-fit: cover;
  object-position: top;
  margin: 30px auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

@media (min-width: 375px) {
  .cards-item {
    min-width:342px;
  }
}