@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brend-color: #1faff9;
  --brend-color-gradient: #2fddf5;
  --ui-dark-accent-color: #838383;
  --ui-dark-shade-color: #000;
  --ui-dark-gray: #363636;
  --ui-light-shade-color: #fff;
  --first-hover-color: #13bde3;
  --second-hover-color: #e6e6e6;
  --cards-background-color: #1ea9f1;
  --ui-text-size-mobile: 16px;
  --ui-block-title-mobile-letter-spacing: 0;
  --ui-btn-secondary-bg-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0px 15px;
}
