.header {
    display: block;
    background-color: var(--ui-dark-shade-color);
    padding: 20px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 10px;
    margin-bottom: 20px; */
}

.header__logo {
    position: relative;
    z-index: 15;
}

.header__logo-img {
    width: 180px;
}

.header__nav-burger {
    position: relative;
    display: block;
    z-index: 5;
    width: 24px;
    height: 16px;
    cursor: pointer;
    padding: 7px;
}

.header__nav-burger span,
.header__nav-burger::before,
.header__nav-burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--ui-light-shade-color);
    transition: all 0.5s ease-in-out;
}

.header__nav-burger span {
    transform: scale(1);
}

.header__nav-burger::before,
.header__nav-burger::after {
    content: '';
}

.header__nav-burger::before {
    top: 0;
}

.header__nav-burger::after {
    bottom: 0;
}

.header__nav-burger.active span {
    transform: scale(0);
}

.header__nav-burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
}

.header__nav-burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
}

.header__nav-wrapper {
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ui-dark-shade-color);
    z-index: 2;
    /* transition: top 0.5s ease-in 0.1s; */
    overflow: hidden;
    margin: auto;
    padding-top: 150px;
}

.header__nav-wrapper.active {
    top: 0;
}

.header__social-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    fill: var(--ui-light-shade-color);
    border: 1px solid var(--ui-dark-shade-color);
}

.header__social-icon:hover {
    fill: var(--brend-color);
    cursor: pointer;
}

.header__nav-item {
    padding: 5px 10px;
}

.header__nav-item,
.header__social-item {
    list-style: none;
}

.header__nav-link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--ui-light-shade-color);
}

.header__nav-link:hover {
    color: var(--first-hover-color);
    cursor: pointer;
}

.header__frequency {
    color: var(--ui-light-shade-color);
    font-weight: 500;
    font-size: 16px;
    padding: 20px 0 20px 0;
}

.header__social-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
}

.header__nav,
.header__content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

@media (min-width: 992px) {
    .header__nav-burger {
        display: none;
    }

    .header__nav-wrapper {
        position: absolute;
        top: 0;
        transition: none;
        height: 0;
        padding-bottom: 20px;
    }

    .header__logo {
        position: relative;
        top: 50px;
    }

    .header__nav {
        height: 0;
        padding-bottom: 20px;
    }

    .header__nav-menu {
        position: relative;
        top: -60px;
        right: -175px;
    }

    .header__content {
        position: relative;
        top: -220px;
        flex-direction: row;
        justify-content: space-between;
        min-width: 100%;
        padding: 0 30px;
    }

    .header__nav-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 600px;
    }
}

@media (min-width: 1066px) {
    .header__logo {
        top: 35px;
    }

    .header__content {
        top: -180px;
    }

    .header__nav-list {
        width: 100%;
        flex-wrap: nowrap;
    }
}