.latest-news {
    display: block;
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 90px;
}

.latest-news__title {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 0;
}

@media (min-widht:1000px) {
    .latest-news__item .product {
        display: grid;
        gap: 15px ;
    }
    
}
.latest-news__item .product {
    display: grid;
    grid-template-columns: auto;
    color: var(--ui-light-shade-color);
    margin-top: 40px;
    gap: 24px;
}

  .product__image-container {
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
}

.product__image { 
    height: auto;
    display: block;
}

.product__title {
    padding: 10px 0px;
    margin-top: 15px;
    color: var(--second-hover-color);
    text-align: left;
    background-color: black;
    font-weight: 400;
    width: 600px;
    height: 28px;
    box-sizing: border-box;
}

.product__text {
    padding: 10px 0px;
    color: var(--ui-light-shade-color);
    text-align: left;
    background-color: black;
    font-weight: 600;
    width: 600px;
    height: 64px;
    box-sizing: border-box;
}

.latest-news__button container {
    display: block;
    display: flex;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.latest-news__button-link {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    position: relative;
    max-width: 100%;
    cursor: pointer;
    color: var(--second-hover-color);
    font-weight: 500;
    border-radius: 28px;
    padding: 5px 15px;
}

.latest-news-button-link:hover {
    text-decoration-color: var(--brend-color-gradient);
}