.latest-news {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--second-hover-color);
    text-align: center;
}

.latest-news__title {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 0;
}

@media (min-width: 770px) {
    .latest-news__cards {
       display: grid;
       gap: 15px;
       grid-template-columns: repeat(12, 1fr [col-start]);
    }

       .latest-news__cards-item:nth-child(1) {
        grid-column: span 12;
        grid-row: span 2;
    }

       .latest-news__cards-item:nth-child(2) {
        grid-column: span 6;
    }
 
       .latest-news__cards-item:nth-child(3) {
        grid-column: span 6;
       }
} 
    
@media (min-width: 980px) {
    .latest-news__cards {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(12, 1fr [col-start]);
    }

       .latest-news__cards-item:nth-child(1) {
        grid-column: span 7;
        grid-row: span 2;
    }

       .latest-news__cards-item:nth-child(2) {
        grid-column: span 5;
       }

       .latest-news__cards-item:nth-child(3) {
        grid-column: span 5;
    }
}

.latest-news__cards .product {
    padding: 15px 15px 15px 15px;
    margin-top: 0;
    margin-left: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: block;
    overflow-wrap: break-word;
    position: relative;
}

.latest-news__cards {
    box-sizing: border-box;
    overflow-wrap: break-word;
    display: grid;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

.product__image {
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__category {
    box-sizing: border-box;
    background-color: var(--ui-dark-shade-color);
    display: block;
    overflow-wrap: break-word;
    padding: 40px;
}

.product__title {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 10px;
    margin-top: 15px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400px;
    color: var(--ui-dark-accent-color);
    width: auto;
    height: auto;
}

.product__text {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 600px;
    font-size: 22px;
    display: block;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: var(--ui-light-shade-color);
}

.latest-news__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.latest-news__button-link {
    width: 130px;
    font: 12px 'Montserrat', sans-serif;
    padding: 12px 24px;
    color: gray;
    text-decoration: none;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid gray;
    text-align: center;
}

.latest-news__button-link:hover {
    background-color: var(--brend-color-gradient);
    color: #ffffff;
}




