/* Загальні стилі для контейнера */
.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #131313;
}

/* Заголовок розкладу */
.schedule {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Стилі для десктопної версії */
.schedule.desktop {
    display: block;
}

.schedule.desktop .schedule__table-container {
    background-color: #131313;
    overflow-x: auto;
}

.schedule.desktop .schedule__table {
    width: 60%;
    border-collapse: collapse;
    font-size: 1rem;
    color: #fff;
    table-layout: fixed;
    margin: 0 auto;
    border-bottom: 1px solid #878787;
}

.schedule.desktop .schedule__row {
    border-bottom: 1px solid #878787;
}

.schedule.desktop .schedule__heading {
    background-color: #131313;
    color: #fff;
    padding: 20px;
    font-size: 1.2rem;
    border-bottom: 1px solid #878787;
}

.schedule.desktop .schedule__data,
.schedule.desktop .schedule__time,
.schedule.desktop .schedule__program {
    padding: 25px;
    text-align: center;
    vertical-align: top;
    width: 20%;
    border-bottom: 1px solid #878787;
}

.schedule.desktop .schedule__time,
.schedule.desktop .schedule__program {
    color: #878787;
}

.schedule.desktop .schedule__row:first-child td {
    vertical-align: middle;
}

.schedule.desktop .schedule__row td {
    vertical-align: top;
}

/* Стилі для мобільної версії (акордеону) */
.schedule.mobile {
    display: none;
}

.schedule.mobile .accordion-container {
    background-color: #131313;
    padding: 10px;
    color: #fff;
}

.schedule.mobile .accordion-toggle {
    background-color: #131313;
    color: #fff;
    padding: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #878787;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule.mobile .accordion-content {
    display: none;
    padding: 10px;
    background-color: #131313;
    color: #fff;
}

.schedule.mobile .accordion-toggle::after {
    content: '\25B6';
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

.schedule.mobile .accordion-content p {
    margin: 0;
}

.schedule.mobile .active .accordion-toggle::after {
    transform: rotate(90deg);
}

/* Медіа-запит для приховування таблиці на мобільних пристроях */
@media (max-width: 768px) {
    .schedule.desktop {
        display: none;
    }

    .schedule.mobile {
        display: block;
    }
}
