.whu-choose-us {
    background-color: black;
    padding: 85px 0px 100px 0px;
}

.whu-choose-us__title {
    font-size: 30px;
    text-align: center;
    color: var(--ui-light-shade-color);
}

@media (min-width: 770px) {
    .whu-choose-us__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    background-color: var(--ui-dark-shade-color);
    border-bottom-color: var(--ui-light-shade-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--ui-light-shade-color);
}

.card__image {
    height: 100%;
    width: 100%;
}

.button {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.8);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}