.prize {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
}

.prize__logo {
    background: url("../img/win/pattern.webp") no-repeat center #000000;
    filter: brightness(62.5%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.prize__advert{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#runText{
    position: relative;
    cursor: pointer;
}

.prize__title {
    font: 38px 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: var(--ui-light-shade-color);
}

.prize__info-content {
    margin-top: 40px;
}

.prize__info {
    font: 16px 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--ui-dark-accent-color);
    margin-bottom: 10px;
}

.prize__button {
    font: 12px 'Montserrat', sans-serif;
    padding: 12px 24px;
    color: var(--ui-light-shade-color);
    text-decoration: none;
    display: inline-block;
    border-radius: 28px;
    cursor: pointer;
    border: 1px solid var(--ui-light-shade-color);
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 10px 36px 1.1px var(--ui-dark-gray);
}
.prize__advert-footer {
    margin-top: 55px;
}

.prize__button:hover {
    background-color: var(--ui-light-shade-color);
    color: var(--ui-dark-accent-color);
}

@media (max-width: 767px) {
    .prize__advert-content {
        width: 100%;
        padding: 0 10px;
    }
    
    .prize__title {
        font-size: 28px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .prize__advert-content {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .prize__advert-content {
        width: 57%; 
    }
}