<section class="career">
    <div class="career__logo"></div>
    <div class="career__content container">
        <p class="career__intro container">
            CAREERS
        </p>
        <h2 class="career__title container">
            <b>Want to Work With Us?</b>
        </h2>
        <p class="career__info container">
            If you are interested in joining our team and make a prospective career with lots of work and life benefits, you're in the right place. We are looking for young and talented enthusiasts.
        </p>
        <a class="career__button" href="#">See Job Openings</a>
    </div>
</section>