<section class="featuret-podcasts">
    <h2 class="featured-podcasts__title">Featured Podcasts</h2>
    <p class="featured-podcasts__description">Download and listen to your favorite shows from Crazy FM for free</p>
    <div class="featured-postcads__cards">
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/lips.jpeg" alt="lips" class="featured-podcasts__card-image">
            <h3 class="card__title">The Dave Berry Breakfast Show</h3>
            <button class="card-button" type="button">Listen now</button>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/leaf.png" alt="leaf" class="featured-podcasts__card-image">
            <h3 class="card__title">The Frank Skinner Show</h3>
            <button class="card-button" type="button">Listen now</button>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/women-in-blue.png" alt="women-in-blue" class="featured-podcasts__card-image">
            <h3 class="card__title">Rock 'N' Roll Football</h3>
            <button class="card-button" type="button">Listen now</button>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/dark-man.png" alt="dark-man" class="featured-podcasts__card-image">
            <h3 class="card__title">The Frank Skinner Show</h3>
            <button class="card-button" type="button">Listen now</button>
        </article>
    </div>
    <a href="#">All Podcasts</a>
</section>
