<section class="featured-podcasts">
    <h2 class="featured-podcasts__title">Featured Podcasts</h2>
    <p class="featured-podcasts__description">Download and listen to your favorite shows from Crazy FM for free</p>
    <div class="featured-podcasts__cards container">
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/lips.jpeg" alt="lips" class="featured-podcasts__card-image">
            <h3 class="cards__title">The Dave Berry Breakfast Show</h3>
            <div class="card-button">
                <button class="card-button button" type="button">Listen now</button>
            </div>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/leaf.png" alt="leaf" class="featured-podcasts__card-image">
            <h3 class="cards__title">The Frank Skinner Show</h3>
            <div class="card-button">
                <button class="card-button button" type="button">Listen now</button>
            </div>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/women-in-blue.png" alt="women-in-blue"
                class="featured-podcasts__card-image">
            <h3 class="cards__title">Rock 'N' Roll Football</h3>
            <div class="card-button">
                <button class="card-button button" type="button">Listen now</button>
            </div>
        </article>
        <article class="featured-podcasts__cards-item card">
            <img width="362" src="img/featured-podcasts/dark-man.png" alt="dark-man"
                class="featured-podcasts__card-image">
            <h3 class="cards__title">The Frank Skinner Show</h3>
            <div class="card-button">
                <button class="button" type="button">Listen now</button>
            </div>
        </article>
    </div>
    <div class="featured-podcasts__button">
        <a href="#" class="featured-podcasts__button-item">All Podcasts</a>
    </div>
</section>