<section class="cards-faces">
    <h1>Crazy FM Faces</h1>
    <div class="cards">
        <div class="cards-item">
            <img src="https://res2.weblium.site/res/5c94ea26a5effb00255a843a/5c98a48212cabd002435ef13_optimized_205_c150x99-15x1.webp"
                alt="Robert Wilson Avatar">

            <h3>Robert Wilson</h3>
            <p> Robert Wilson has been working at Crazy FM as a sound producer for more than 10 years. He is passionate
                about producing products of the highest quality possible.</p>
        </div>
        <div class="cards-item">
            <img src="https://res2.weblium.site/res/5c94ea26a5effb00255a843a/5c98a46c7eb5280025044c06_optimized_460_c150x224-201x37.webp"
                alt="Michael Robertson Avatar">
            <h3>Michael Robertson</h3>
            <p>Michael Robertson is a highly trained and devoted Radio Producer and Sound Designer with almost 15 years
                of
                expertise TV, radio, and music.</p>
        </div>
        <div class="cards-item">
            <img src="https://res2.weblium.site/res/5c94ea26a5effb00255a843a/5c98a47a25ba0b0025ad6749_optimized_187_c150x100-22x2.webp"
                alt="Jessica Stone Avatar">

            <h3>Jessica Stone</h3>
            <p> Jessica is the only woman and the soul of our team. She is responsible for keeping all the processes run
                smoothly.</p>
        </div>
    </div>
</section>